body{
  font-family: sans-serif;
}

.imdt-table-area{
  float: left;
  width: 800px;
}

.right-form{
  float: left;
}

.add{
}

.flash-messages{
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.alert{
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 3px;
}

.alert:before{
  font-family: 'FontAwesome'
}

.alert-success{
  background-color: rgba(21, 102, 0, 0.74);
  color: rgb(236, 236, 236);
}

.alert-warning{
  background-color: rgba(255, 0, 0, 0.74);
  color: rgb(236, 236, 236);
}

.alert-success:before{
  content:'\f00c';
}

.alert-warning:before{
  content:'\f00d';
}

.imdt-table-pagination-summary{
  float: left;
  width: 77%;
}

.imdt-table-navigation, .imdt-table-pagination-page-size{
  float: left;
  width: 11.5%;
  text-align: right;
}

.imdt-table-navigation>ul{
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: 0px;
}

.imdt-table-navigation>ul>li{
  list-style: none;
  text-align: center;
  height: 20px;
  width: 20px;
  border: 1px solid #9B9B9B;
  background-color: #E5E5E5;
  line-height: 17px;
  display: inline-block;
  font-size: 14px
}

input[type="search"], input[type="text"]{
  -webkit-appearance: textfield;
}

.has-error label {
  color: red;
}

.has-error input {
  border-color: red;
}

/*
  Pure.css table styles
  http://purecss.io/
*/

table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 800px;
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
    border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

table td,
table th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
    border-bottom-width: 0;
}

table thead > tr > th.sort:after {
  content: '\2666';
}

table thead > tr > th.sort-asc:after {
  content: '\2191';
}

table > thead > tr > th.sort-desc:after {
  content: '\2193';
}
