<h1>Create City</h1>

<form class="right-form">
{{magic-crud model=model errors=errors definitions=definitions submitted=submitted}}
<button type="button" name="button" {{action 'saveRecord'}}>Save</button>
</form>

{{outlet}}
