<button class="btn btn-warning edit" type="button" name="button" {{action 'sendAction' 'editRecord' record}}>Editar</button>
<button class="btn btn-danger delete" type="button" name="button" {{action 'sendAction' 'deleteRecord' record}}>Delete</button>
